body {
  font-family: JejuMyeongjoOTF, JejuGothicOTF, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
  margin: 0 auto;
  min-width: 280px;
  display: flex;
  justify-content: center;
  background-color: #e0e7d9;
}

@font-face {
  font-family: "JejuGothicOTF";
  src: url("/fonts/JejuGothic.otf") format("opentype");
  font-weight: 45 900;
  font-style: normal;
}

@font-face {
  font-family: "JejuMyeongjoOTF";
  src: url("/fonts/JejuMyeongjoOTF.otf") format("opentype");
  font-weight: 45 900;
  font-style: normal;
}
